<template>
  <div class="panel">
    <div>
      <b-card no-body>
        <b-tabs card>
          <b-tab title="Live Debugging">
            <b-card-title>This tab does not have the <code>no-body</code> prop set</b-card-title>
            <b-card-text>
              Quis magna Lorem anim amet ipsum do mollit sit cillum voluptate ex nulla tempor. Laborum
              consequat non elit enim exercitation cillum aliqua consequat id aliqua. Esse ex
              consectetur mollit voluptate est in duis laboris ad sit ipsum anim Lorem. Incididunt
              veniam velit elit elit veniam Lorem aliqua quis ullamco deserunt sit enim elit aliqua
              esse irure.
            </b-card-text>
          </b-tab>

          <b-tab title="LocalStorage">
            <b-card-title>TV browser <span class="point">local storage items</span> show here</b-card-title>
            <b-table hover :items="storage.localStorage" :fields="fields"></b-table>
          </b-tab>

          <b-tab title="Cookie">
            <b-card-title>TV browser <span class="point">cookies</span> show here</b-card-title>
            <b-table hover :items="storage.cookie" :fields="fields"></b-table>
          </b-tab>
        </b-tabs>
      </b-card>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DebugPanel',
  data: function() {
    return {
      fields: ['name', 'value'],
      storage: {
        localStorage: [
          { name: 'Dickerson', value: 'Macdonald' },
          { name: 'Larsen', value: 'Shaw' },
          { name: 'Geneva', value: 'Wilson' },
          { name: 'Jami', value: 'Carney' }
        ],
        cookie: [
          { name: 'Dickerson', value: 'Macdonald' },
          { name: 'Larsen', value: 'Larsen' },
          { name: 'Geneva', value: 'Wilson' },
          { name: 'Jami', value: 'Carney' }
        ],
      }
    }
  },
  methods: {
  }
}
</script>
