<template>
  <div class="settings">
    <b-dropdown id="room-list" :text="(selectedRoom) ? selectedRoom : 'Select Room'" class="m-md-2">
      <b-dropdown-item 
        v-for="room in roomList" 
        :key="room" :value="selectedRoom"
        @click="setRoom(room)">{{room}}</b-dropdown-item>
    </b-dropdown>
    <b-button variant="outline-default"
      @click="startDebugging">Debug</b-button>
    
  </div>
</template>

<script>
export default {
  name: 'Setting',
  props: {
    room: String
  },
  data: function() {
    return {
      roomList : ["101", "102", "103"],
      selectedRoom: ""
    }
  },
  methods: {
    setRoom(r) {
      this.selectedRoom = r;
    },
    startDebugging() {
      let msg = "Please select a room.";
      if(this.selectedRoom) {
        msg = `Start debugging the selected room: ${this.selectedRoom} !`;
      }
      alert(msg);
    }
  }
}
</script>
<style scoped>
.settings {
  margin: 1em 0;
}
</style>
