<template>
  <div id="app">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <h2>Remote Debugging Tool</h2>
    <Setting />
    <DebugPanel />
  </div>
</template>

<script>
import Setting from './components/Setting.vue'
import DebugPanel from './components/DebugPanel.vue'

export default {
  name: 'App',
  components: {
    Setting,
    DebugPanel
  }
}
</script>

<style>
#app {
  font-family: 'Ubuntu', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
