* {
  outline: none !important;
  box-shadow:none !important;
}
h3 {
  margin: 40px 0 0;
}

a {
  color: #e83e8c;
}

a:hover {
  color: #99004C;
}

.point {
  color: #e83e8c;
}

.card-header {
  background-color: #FFF;
}

.btn-outline-default {
  color: #495057;
  border-color: #495057;
}

.btn-outline-default:hover {
  color: #fff;
  background-color: #495057;
  border-color: #495057;
}